@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.project-card {

    &__container {
    @include display-flex(column, none, flex-start);
    margin: 0rem 2rem 2rem 0;
    padding: 2.5rem 2rem;
    // max-width: 16rem;
    @include body__mobile;
    text-align: left;
    background-image: url('../../assets/images/images/pattern-background.svg');
    border-radius: 0 .625rem 0.625rem 0;
    background-color: $secondary__color--bkgd-clearCards;

    // indented style
    -webkit-box-shadow: inset 15px 15px 5.5px -5px rgb(0, 0, 0, 0.35), inset -15px -15px 5.5px -5px rgb(236, 233, 233, 0.1);
    -moz-box-shadow: inset 15px 15px 5.5px -5px rgb(0, 0, 0, 0.35), inset -15px -15px 5.5px -5px rgb(236, 233, 233, 0.1);
    box-shadow: inset 0px 13px 5.5px -5px rgb(0, 0, 0, 0.35), inset -15px -15px 5.5px -5px rgba(255, 255, 255, 0.75);
    border-top: 1px solid rgba(172, 170, 170, 0.75);
    border-right: 1px solid rgb(172, 170, 170, 0.25);
    border-bottom: 1px solid rgb(172, 170, 170, 0.125);
    // indented style

    
    // under shadow style
    // box-shadow: 2.5px 2.5px 3.5px 1px rgb(121, 120, 120), -10px 2.5px 3.5px 1px rgb(121, 120, 120);
    // under shadow style

    @include tablet {
        margin: 0rem 9rem 2rem 0;
        padding: 3.5rem 3rem 3.5rem 7rem;

        @include desktop {
            margin: 0rem 1rem 2rem 0;

        }

    }

    }

    &__title {
        @include project-header__mobile;
        color: $primary__color--text;
        margin-bottom: 0.5rem;

        @include tablet {
            @include project-header__tablet-desktop;
            margin-bottom: 0.75rem;
        }
    }

    &__description {
        @include body__mobile;
        color: $primary__color--text;
        margin-bottom: 0.5rem;
        font-weight: normal;

        @include tablet {
            @include body__tablet-desktop;
            margin-bottom: 0.75rem;
        }
    }

    &__tags {
        @include body__mobile;
        color: $primary__color--cta-active;
        margin-bottom: 1rem;
        font-weight: 600;

        @include tablet {
            @include body__tablet-desktop;
            font-weight: 600;
            margin-bottom: 1.25rem;

        }
    }
}