@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';


.card {
    @include display-flex(column, none, center);
    margin-bottom: 3rem;
    padding: 2.5rem 2rem;
    max-width: 16rem;
    @include body__mobile;
    text-align: center;
    background-image: url('../../assets/images/images/pattern-background.svg');
    border-radius: .625rem;
    background-color: $secondary__color--bkgd-darkCards;

     // indented style
    -webkit-box-shadow: inset 15px 15px 5.5px -5px rgb(0, 0, 0, 0.35), inset -15px -15px 5.5px -5px rgb(236, 233, 233, 0.1);
	-moz-box-shadow: inset 15px 15px 5.5px -5px rgb(0, 0, 0, 0.35), inset -15px -15px 5.5px -5px rgb(236, 233, 233, 0.1);
	box-shadow: inset 15px 15px 5.5px -5px rgb(0, 0, 0, 0.35), inset -15px -15px 5.5px -5px rgb(236, 233, 233, 0.1);
    border-top: 1px solid rgba(172, 170, 170, 0.15);
    border-right: 1px solid rgb(194, 192, 192, 0.15);
    border-bottom: 1px solid rgb(194, 192, 192, 0.15);
    border-left: 1px solid rgb(194, 192, 192, 0.15);
    // indented style

    // under shadow style
    // box-shadow: 2.5px 2.5px 3.5px 1px rgb(0, 0, 0, 0.75);
    // under shadow style

    @include tablet {
        padding: 3.5rem 2rem;
        margin-bottom: 0.5rem;

        @include desktop {
            max-width: 20rem;
        }
    }

    &__icon {
        width: 5rem;
        margin-bottom: 1.5rem;

        @include tablet {
            margin-bottom: 2.5rem;
        }
    }

    &__title {
        @include subheader__mobile;
        color: $primary__color--cta-active;
        margin-bottom: 1rem;

        @include tablet {
            @include subheader__tablet-desktop;
            margin-bottom: 1.75rem;
        }
    }

    &__description {
        @include body__mobile;
        color: $primary__color--second-text;
        margin-bottom: 2rem;

        @include tablet {
            @include body__tablet-desktop;
            font-weight: 300;
            letter-spacing: 0.02rem;
            margin-bottom: 3rem;
        }
    }

    &__skills-title {
        @include subheader__mobile;
        color: $primary__color--cta-active;
        margin-bottom: 1rem;

        @include tablet {
            @include subheader__tablet-desktop;
            margin-bottom: 1.75rem;
        }
    }

    &__skills {
        @include body__mobile;
        color: $primary__color--second-text;
        // margin-bottom: 2rem;

        @include tablet {
            @include body__tablet-desktop;
            font-weight: 300;
            letter-spacing: 0.02rem;
        }
    }
}