// TEXT STYLES MIXINS

// mobile
@mixin page-header__mobile {
    font-family: "Fira Sans";
    font-size: 2.625rem;
    font-weight: 500;
    line-height: 3rem;
}

@mixin section-header__mobile {
    font-family: "Fira Sans";
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.25rem;  
}

@mixin subheader__mobile {
    font-family: "Fira Sans";
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;  
}

@mixin body__mobile {
    font-family: "Fira Sans";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;  
}

@mixin labels-buttons__mobile {
    font-family: "Fira Sans";
    // font-size: .75rem;
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 1.125rem; 
}

//tablet-desktop

@mixin page-header__tablet-desktop {
    font-family: "Fira Sans";
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
}

@mixin section-header__tablet-desktop {
    font-family: "Fira Sans";
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.55rem;
}

@mixin subheader__tablet-desktop {
    font-family: "Fira Sans";
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.375rem;
}

@mixin body__tablet-desktop {
    font-family: "Fira Sans";
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2rem;
}

@mixin labels-buttons__tablet-desktop {
    font-family: "Fira Sans";
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
}


//  MEDIA QUERIES

@mixin tablet {
    //768px
    @media screen and (min-width: 48rem) { 
        @content;
    }
}

@mixin desktop {
    //1280px
    @media screen and (min-width: 80rem) {  
        @content;
    }
}


//  DISPLAY FLEX

@mixin display-flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }








