@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.nav {
    @include display-flex(row, space-between, center);
    padding: 1rem;


    &__list {
        @include display-flex(row, flex-end, none);

        &-link {
            margin-left: 1rem;
            @include labels-buttons__mobile;
            color: $primary__color--cta-active;

            &:hover {
                color: $secondary__color--cta-hover;
                opacity: 0.8;
                text-decoration: underline;

            }

            &--active {
                font-weight: 500;
                // text-decoration: underline;
            }
        }


    }

}