@import '../../../styles/partials/mixins';
@import '../../../styles/partials/variables';


.button__repo {
    padding: .5rem 1.75rem;
    @include labels-buttons__mobile;
    color: $primary__color--text;
    background-color: #3a444600;
    border: .15rem solid $primary__color--text;
    border-color: $primary__color--text;
    border-radius: .25rem;
    text-align: center;
    cursor: pointer;
    

    @include tablet {
        @include labels-buttons__tablet-desktop;

    }
}