@import '../../../styles/partials/mixins';
@import '../../../styles/partials/variables';


.button__solid {
    padding: .5rem 1.75rem;
    @include labels-buttons__mobile;
    font-weight: 600;
    color: $primary__color--second-text;
    background-color: $primary__color--cta-active;
    border: .15rem solid $primary__color--cta-active;
    border-radius: .25rem;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: rgb(0, 0, 0, 0);
        color: $primary__color--cta-active;
    }
    

    @include tablet {
        width: 8rem;
        padding: .65rem 2rem;
        @include labels-buttons__tablet-desktop;
        font-weight: 600;

    }
}