@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.header {
    height: 100vh;
    // padding: 2rem 1rem;
    // @include display-flex(none, flex-start, none);

    &__content {
        @include display-flex(column, none, center);
        height: 30rem;
        margin: 4rem 1.5rem 0rem 0;
        border-radius: 0 2rem 2rem 0;
        background-image: url('../../assets/images/images/pattern-background.svg');
        // background-repeat: no-repeat;
        // background-size: 20rem 20rem;

        // indented style
        // -webkit-box-shadow: inset 0px 10px 2.5px -5px rgb(0, 0, 0, 0.25), inset -10px -10px 2.5px -5px rgb(236, 233, 233, 0.5);
	    // -moz-box-shadow: inset 0px 10px 2.5px -5px rgb(0, 0, 0, 0.25), inset -10px -10px 2.5px -5px rgb(236, 233, 233, 0.5);
	    // box-shadow: inset 0px 13px 5.5px -5px rgb(0, 0, 0, 0.25), inset -15px -15px 5.5px -5px rgb(236, 233, 233, 0.5);
        // border-top: 1px solid rgba(172, 170, 170, 0.75);
        // border-right: 1px solid rgb(194, 192, 192, 0.35);
        // border-bottom: 1px solid rgb(194, 192, 192, 0.35);
        // indented style

        
        // under shadow style
        box-shadow: 2.5px 2.5px 3.5px 1px rgb(121, 120, 120), -10px 2.5px 3.5px 1px rgb(121, 120, 120);
        // under shadow style
    }

    // &__background {
    //     height: 32rem;
    //     // margin-right: 1rem;
    //     // position: relative;
    //     // left:-19rem;
    //     // overflow: hidden;
    //     margin-left: -50%;
    //     // transform: translateX(-25%);
        
    // }

    &__img {
        width: 15.5rem;
        margin-top: 4rem;
        // padding-left: 8%
        // margin-left: 10%;
        // margin-right: 10%;
        
    }

    &__info {
        margin-top:5rem;

        &-title {
            @include page-header__mobile;
            color: $primary__color--text;
            padding: 0 1.5rem 0 1rem;
        }

        &-text {
            @include subheader__mobile;
            color: $primary__color--text;
            // width: 75%;
            padding: 0 1.5rem 0 1rem;
        }
    }

    &__icons {
        @include display-flex(row, space-around, center);
        padding: 0.5rem 0 0.35rem 0;
        border: solid 2px $secondary__color--icon-frame;
        border-radius: 4px;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        position: fixed;
        bottom: 1rem;
        // margin: 0 auto;
        text-align: center;


        &-img {
            width: 2rem;
        }
    }


}