@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.wrapper {
    background-color: #fdfafa;
}

.header {
    height: 91vh;
    // padding: 2rem 1rem;
    // @include display-flex(none, flex-start, none);

    &__container {
        padding: 4rem 1.5rem 0rem 0;

        @include tablet {
            padding: 4rem 6.5rem 0rem 0;
        }
    }

    &__content {
        @include display-flex(column, none, center);
        height: 30rem;
        border-radius: 0 2rem 2rem 0;
        background-image: url('../../assets/images/images/pattern-background.svg');
        background-color: $secondary__color--bkgd-clearCards;

        // indented style
        -webkit-box-shadow: inset 0px 10px 2.5px -5px rgb(0, 0, 0, 0.25), inset -10px -10px 2.5px -5px rgb(236, 233, 233, 0.5);
	    -moz-box-shadow: inset 0px 10px 2.5px -5px rgb(0, 0, 0, 0.25), inset -10px -10px 2.5px -5px rgb(236, 233, 233, 0.5);
	    box-shadow: inset 0px 13px 5.5px -5px rgb(0, 0, 0, 0.25), inset -15px -15px 5.5px -5px rgba(255, 255, 255, 0.75);
        border-top: 1px solid rgba(172, 170, 170, 0.75);
        border-right: 1px solid rgb(247, 247, 247);
        border-bottom: 1px solid rgb(247, 247, 247);
        // indented style

        
        // under shadow style
        // box-shadow: 2.5px 2.5px 3.5px 1px rgb(121, 120, 120), -10px 2.5px 3.5px 1px rgb(121, 120, 120);
        // under shadow style
    }

    &__img {
        width: 15.5rem;
        margin-top: 4rem;
        // padding-left: 8%
        // margin-left: 10%;
        // margin-right: 10%;
        
    }

    &__info {
        margin-top:4rem;

        @include tablet {
            @include display-flex(column, none, flex-start);
            padding-left: 5rem
            // width: 19rem;
        }


        &-title {
            @include page-header__mobile;
            color: $primary__color--text;
            padding: 0 1.5rem 0 1rem;

            @include tablet {
                padding-left: 8;

            }
        }

        &-text {
            @include subheader__mobile;
            color: $primary__color--text;
            // width: 75%;
            padding: 0 1.5rem 0 1rem;

            @include tablet {
                padding-left: 8;
            }
        }
    }

    &__icons {
        @include display-flex(row, space-around, center);
        padding: 0.5rem 0 0.35rem 0;
        border: solid 2px $secondary__color--icon-frame;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 4px;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        position: fixed;
        bottom: 2rem;
        // margin: 0 auto;
        text-align: center;
        z-index: 1;

        &-img {
            width: 2rem;
        }
    }
}

.main {
    // background-color: $primary__color--text;
    // padding: 2rem 0;


    &-titles {
        text-align: center;
        color: $primary__color--cta-active;
        @include section-header__mobile;
        margin-bottom: 2.5rem;
    }

    &-about {
        background-color: $primary__color--text;
        padding: 4rem 1rem 4rem 1rem;


        &__intro {
            @include body__mobile;
            color: $primary__color--second-text;
            margin-bottom: 3rem;
            padding: 0 1rem;
        }

        &__text-single {
            margin-bottom: 1rem;
        }

        &__cards {
            padding: 0 1rem;
            @include display-flex(row, center, none);
            gap: 10%;
            flex-wrap: wrap;
        }

    }

    &-projects {
        padding: 4rem 0rem 4rem 0;

        &__cards {
            // padding-right: 1rem;
            @include display-flex(row, center, none);
            flex-wrap: wrap;
            width: 100%;
            gap:4rem;

            &-item {
                // margin-bottom: 3rem;
                
                &:hover {
                    filter: contrast(105%);
                }
            }

            &-img {
                        width: 80%;
                        // margin: 0 0 0 2rem;
                        // padding: 0 1rem;
                        display: block;
                        margin: 0 auto;
                    }

        }
    }

    &-contact {
        background-color: $primary__color--text;
        padding: 4rem 2rem 8rem 2rem;
        // position: relative;


        &__content {
        @include body__mobile;
        color: $primary__color--second-text;
        margin-bottom: 2rem;
        padding: 2.5rem 2rem;
        text-align: center;
        background-image: url('../../assets/images/images/pattern-background.svg');
        border-radius: .625rem;

        // indented style
        -webkit-box-shadow: inset 15px 15px 5.5px -5px rgb(0, 0, 0, 0.35), inset -15px -15px 5.5px -5px rgb(236, 233, 233, 0.1);
	    -moz-box-shadow: inset 15px 15px 5.5px -5px rgb(0, 0, 0, 0.35), inset -15px -15px 5.5px -5px rgb(236, 233, 233, 0.1);
	    box-shadow: inset 15px 15px 5.5px -5px rgb(0, 0, 0, 0.35), inset -15px -15px 5.5px -5px rgb(236, 233, 233, 0.1);
        border-top: 1px solid rgba(172, 170, 170, 0.05);
        border-right: 1px solid rgb(194, 192, 192, 0.15);
        border-bottom: 1px solid rgb(194, 192, 192, 0.15);
        border-left: 1px solid rgb(194, 192, 192, 0.05);
        // indented style

        
        // under shadow style
        // box-shadow: 2.5px 2.5px 3.5px 1px rgb(0, 0, 0, 0.75);
        // under shadow style
        }

        // &-arrow {
        //     position: absolute;
        //     top: 1rem;
        //     height: 1rem;
        // }
        
    }


}

.footer {
    display: none;
    background-color: $primary__color--text;
    @include labels-buttons__mobile;
    color: $primary__color--second-text;
    padding: 0 4rem 5.5rem 4rem;
    text-align: center;
    position: relative;

    &__content {

        &-arrow {
            position: absolute;
            top: -60%;
            left: 8%;
        }
    }
    
}